.custom-input {
  margin-top: 24px;
  display: block;
  width: 100%;

  &.half {
    width: 49%;

    @media (max-width: $bpTablet - 1) {
      width: 100%;
    }
  }

  input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 18px 24px;
    margin-top: 9px;
    border: 1px solid #cfcfcf;
  }

  label {
    font-size: 12px;
    letter-spacing: -0.2px;
    font-weight: $bold;
  }
}
