.cta-banner {
  position: relative;

  &.secondary {
    @media (max-width: 768px - 1) {
      padding: 24px;
      padding-top: 0;
    }
    .container {
      position: relative;
      transform: translate(0, 0);
      border-radius: 8px;
      overflow: hidden;
      top: 0;
      left: 0;
    }
  }

  &.bg-orange {
    @media (max-width: 768px - 1) {
      padding: 24px;
      padding-top: 0;
    }

    .container {
      background-color: $dark-orange;
      padding: 133px 95px 124px 666px;

      //mobile
      @media (max-width: 768px - 1) {
        padding: 24px;
        padding-bottom: 55px;
      }
    }
  }

  &.text-right {
    .cta-banner__text {
      width: 100%;
      // float: right;

      p {
        width: 100%;
        padding-bottom: 40px;

        @media (max-width: 768px - 1) {
          padding: 0;
        }
      }
    }
  }

  &.text-left {
    .cta-banner__text {
      @media (max-width: 768px - 1) {
        width: 100%;
        left: 0 !important;
        top: 50% !important;
        text-align: left;
        padding-left: 24px;

        h2 {
          margin-left: 0;
          font-size: 28px;
          line-height: 38px;
          letter-spacing: 2px;
        }
      }
    }
  }

  &.text-float {
    .cta-banner__text {
      position: absolute;
      top: 50%;
      left: 95px;
      transform: translate(0, -50%);
    }
  }

  &.image-float {
    .cta-banner__img {
      position: absolute;
      left: 118px;
      bottom: -7px;
      width: 410px;

      @media (max-width: 768px - 1) {
        position: static;
        width: 100%;
        margin-top: 55px;
        margin-bottom: 32px;
        display: block;
        text-align: center;
      }

      img {
        @media (max-width: 768px - 1) {
          width: 172px;
          height: 207px;
          display: inline-block;
        }
      }
    }
  }

  &.title-small {
    h2 {
      font-size: 28px;
    }
  }

  &.title-black {
    h2 {
      color: $black;
    }
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 768px - 1) {
      top: 60%;
    }
  }

  &__text {
    width: 40%;
    color: $white;

    @media (max-width: 768px - 1) {
      text-align: center;
      width: auto;
    }

    span {
      font-size: 14px;
      letter-spacing: 10px;
      margin-bottom: 24px;
      text-transform: uppercase;
      opacity: 0.5;
    }

    h1,
    h2 {
      font-size: 56px;
      letter-spacing: 2px;
      margin-bottom: 24px;
      text-transform: uppercase;
      line-height: 58px;

      @media (max-width: 768px - 1) {
        font-size: 36px;
        line-height: 40px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 24px;
      }
    }

    p {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 24px;
      width: 80%;
      opacity: 0.75;

      @media (max-width: 768px - 1) {
        margin: 0 auto;
        margin-bottom: 24px;
      }
    }
  }
}
