.cart-menu-aside {
  position: absolute;
  top: 135px;
  right: 0;
  background-color: $white;
  width: 350px;
  padding: 32px;
  border-radius: 8px;

  @media (max-width: $bpTablet - 1) {
    position: static;
    width: 100%;
    margin-bottom: 97px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.3px;
    margin-bottom: 31px;
  }

  &__product--scrollable {
    max-height: 240px;
    overflow-y: auto;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      margin-left: auto;
    }
  }
  &__payment {
    position: relative;
    z-index: 1;
    max-height: 575px;
    overflow-y: auto;

    @media (max-width: $bpTablet - 1) {
      max-height: auto;
    }
  }

  &__description {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      &--total {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 32px;

        .grandtotal {
          color: $dark-orange;
        }
      }
    }

    &--label {
      text-transform: uppercase;
      opacity: 0.5;
      font-size: 15px;
      color: black;
      font-weight: $regular;
    }

    span {
      font-weight: $bold;
    }
  }
}
