.page-footer {
  background-color: $black;
  padding: 60px 40px;
  color: $white;

  .container {
    position: relative;

    &:before {
      content: " ";
      width: 101px;
      height: 4px;
      position: absolute;
      top: -60px;
      left: 0;
      background-color: $dark-orange;

      @media (max-width: $bpTablet - 1) {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &--top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    @media (max-width: $bpTablet - 1) {
      display: block;
      text-align: center;
    }

    @media (min-width: $bpTablet) and (max-width: $bpDesktop -1) {
      h2 {
        display: block;
      }
    }

    ul {
      display: flex;

      @media (max-width: $bpTablet - 1) {
        margin-top: 48px;
        display: block;
      }

      li {
        margin-right: 34px;

        @media (max-width: $bpTablet - 1) {
          margin: 0;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin: 0;
        }

        a {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;

          &:hover {
            color: $dark-orange;
          }
        }
      }
    }
  }

  &--bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: $bpTablet - 1) {
      display: block;
      text-align: center;
    }

    &__text {
      width: 52%;

      @media (max-width: $bpTablet - 1) {
        width: 100%;

        p:last-of-type {
          margin-bottom: 48px;
        }
      }

      p {
        font-size: 15px;
        line-height: 25px;
        opacity: 0.5;

        &:first-of-type {
          margin-bottom: 56px;
        }
      }
    }

    ul {
      display: flex;

      @media (max-width: $bpTablet - 1) {
        width: 100%;
        justify-content: center;
      }

      li {
        margin-right: 16px;

        &:last-child {
          margin: 0;
        }

        .icon {
          &:hover {
            fill: $dark-orange;
          }
        }
      }
    }
  }
}
