/* Breakpoints */
$bpMobile: 320px;
$bpLgMobile: 420px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1440px;
$bpXXLgDesktop: 1536px;

/* Font Weight */
$regular: 400;
$medium: 500;
$bold: 700;

/* Color */
$white: #fff;
$light-orange: #fbaf85;
$dark-orange: #d87d4a;
$black2: #101010;
$black: #000;
$light-grey: #fafafa;
$light-grey1: #f1f1f1;
