.cta-banner-twoPane {
  .container {
    display: flex;

    @media (max-width: 768px - 1) {
      display: block;
      padding: 24px;
      padding-top: 0;
    }
  }

  &--right,
  &--left {
    // width: 50%;
    border-radius: 8px;
    overflow: hidden;
  }

  &--right {
    width: 48.6%;
    background-color: $light-grey1;
    margin-left: auto;
    padding: 101px 198px 94.7px 95px;

    @media (max-width: 768px - 1) {
      margin-top: 24px;
      width: 100%;
      padding: 41px 24px;
    }

    h2 {
      margin-bottom: 32px;
      font-size: 28px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
